<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>name</key>
            <string>FirstAid</string>
            <key>location</key>
            <string>{47.662491,-117.424793}</string>
            <key>type</key>
            <string>3</string>
            <key>subtitle</key>
            <string></string>
        </dict>
        <dict>
            <key>name</key>
            <string>FirstAid</string>
            <key>location</key>
            <string>{47.661457,-117.18489}</string>
            <key>type</key>
            <string>3</string>
            <key>subtitle</key>
            <string></string>
        </dict>
        <dict>
            <key>name</key>
            <string>FirstAid</string>
            <key>location</key>
            <string>{47.664269,-117.443184}</string>
            <key>type</key>
            <string>3</string>
            <key>subtitle</key>
            <string></string>
        </dict>
        <dict>
            <key>name</key>
            <string>FirstAid</string>
            <key>location</key>
            <string>{47.672453,-117.442699}</string>
            <key>type</key>
            <string>3</string>
            <key>subtitle</key>
            <string></string>
        </dict>
        <dict>
            <key>name</key>
            <string>FirstAid</string>
            <key>location</key>
            <string>{47.675544,-117.459603}</string>
            <key>type</key>
            <string>3</string>
            <key>subtitle</key>
            <string></string>
        </dict>
        <dict>
            <key>name</key>
            <string>FirstAid</string>
            <key>location</key>
            <string>{47.663774,-117.468342}</string>
            <key>type</key>
            <string>3</string>
            <key>subtitle</key>
            <string></string>
        </dict>
        <dict>
            <key>name</key>
            <string>FirstAid</string>
            <key>location</key>
            <string>{47.655944,-117.462910}</string>
            <key>type</key>
            <string>3</string>
            <key>subtitle</key>
            <string></string>
        </dict>
        
        <dict>
            <key>name</key>
            <string>WaterStation</string>
            <key>location</key>
            <string>{47.660357,-117.426345}</string>
            <key>type</key>
            <string>5</string>
            <key>subtitle</key>
            <string></string>
        </dict>
        <dict>
            <key>name</key>
            <string>WaterStation</string>
            <key>location</key>
            <string>{47.664599,-117.444374}</string>
            <key>type</key>
            <string>5</string>
            <key>subtitle</key>
            <string></string>
        </dict>
        <dict>
            <key>name</key>
            <string>WaterStation</string>
            <key>location</key>
            <string>{47.672044,-117.444159}</string>
            <key>type</key>
            <string>5</string>
            <key>subtitle</key>
            <string></string>
        </dict>
        <dict>
            <key>name</key>
            <string>WaterStation</string>
            <key>location</key>
            <string>{47.676083,-117.459202}</string>
            <key>type</key>
            <string>5</string>
            <key>subtitle</key>
            <string></string>
        </dict>
        <dict>
            <key>name</key>
            <string>WaterStation</string>
            <key>location</key>
            <string>{47.658590,-117.465716}</string>
            <key>type</key>
            <string>5</string>
            <key>subtitle</key>
            <string></string>
        </dict>
    </array>
</plist>
